################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ShareDemo/.vs/LearnDepthCSharp/v16/Server/sqlite3/storage.ide
/ShareDemo/.vs/LearnDepthCSharp/v16/Server/sqlite3/db.lock
/ShareDemo/.vs/LearnDepthCSharp/v16/.suo
/ShareDemo/ADO/ADO_UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ShareDemo/ADO/ADO_UI/obj/Debug/ADO_UI_MarkupCompile.i.lref
/ShareDemo/ADO/ADO_UI/obj/Debug/ADO_UI_MarkupCompile.i.cache
*.cache
*.lref
/MyWpfDemo/.vs/MyWpfDemo/v16/Server/sqlite3/storage.ide-wal
/MyWpfDemo/.vs/MyWpfDemo/v16/Server/sqlite3/storage.ide-shm
/MyWpfDemo/.vs/MyWpfDemo/v16/Server/sqlite3/storage.ide
/MyWpfDemo/.vs/MyWpfDemo/v16/Server/sqlite3/db.lock
/MyWpfDemo/.vs/MyWpfDemo/v16/.suo
/MyWpfDemo/WpfApp1/obj/Debug
/MyWpfDemo/WpfApp1/bin/Debug
/MyWpfDemo/.vs/Supercharger/WpfApp1
/MyWpfDemo/.vs/Supercharger/websocketClient
/MyWpfDemo/websocketClient/bin/Debug
/MyWpfDemo/websocketClient/obj/Debug
/MyWpfDemo/.vs/Supercharger/MainWindows
/MyWpfDemo/MainWindows/bin/Debug
/MyWpfDemo/MainWindows/obj/Debug
/MyWpfDemo/DBManager/obj/Debug
